<div class="container">
  <h1 class="text-center">Adminstrator</h1>
  <h4> Total posts count: </h4>
  <%= @post.count %>
  <br>
  <h4> Post list: </h4>
  <ul>
  <%@post.each do |post|%>
    <%=post.title %>
    <%= post.content %> 
<%end%>
</ul>
</div>
