<div class="card" style="wwidth=device-width,initial-scale=1"">
        <div class=" card-body">
    <h5 class="card-title">Total Users</h5>
    <h6 class="card-subtitle mb-2 text-muted">Total number of users on this platform</h6>
    <p class="card-text"> <%= @user.all.count %></p>
    <a <%= link_to "User List", admin_users_index_path %></a>

</div>
</div>

<div class="card" style="width: 28rem;">
    <div class="card-body">
        <h5 class="card-title">Total Groups</h5>
        <h6 class="card-subtitle mb-2 text-muted">Total number of groups on this platform</h6>
        <p class="card-text"> <%= @group.all.count %></p>
        <a <%= link_to "Group List", admin_groups_path %></a>

    </div>
</div>