<div>
    <% if @user.id == current_user.id %>
        <p>
        <strong>Name:</strong>
            <%= @user.username %>
        </p>

        <p>
        <strong>Email:</strong>
            <%= @user.email %>
        </p>

        <p>
        <strong>Birth date:</strong>
            <%= @user.birthday %>
        </p>
        <%= link_to 'Back', root_path %>
</div>