<footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
      <!-- Copyright -->
      <div class="text-white text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.co-well.jp/">Cowell</a>
      </div>
      <!-- Copyright -->
      </div>
</footer>

